<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162069569726-ovr3fofmg5bn3iepf0np3s4brm8h9oqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162069569726-ovr3fofmg5bn3iepf0np3s4brm8h9oqo</string>
	<key>API_KEY</key>
	<string>AIzaSyBgNHd7P35jYwMjPDETZZQ-gzavPM5A-go</string>
	<key>GCM_SENDER_ID</key>
	<string>162069569726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.twinny.taras.dev</string>
	<key>PROJECT_ID</key>
	<string>tarasproj</string>
	<key>STORAGE_BUCKET</key>
	<string>tarasproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162069569726:ios:3b734eab894bfabdb47eef</string>
</dict>
</plist>