name: iOS CI

on:
  push:
    branches: [ develop, master, 'release-**' ]
  pull_request:
    branches: [ develop, master, 'release-**' ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Pods cache
        uses: actions/cache@v3
        id: pods-cache
        with:
            path: |
              Pods
              Podfile.lock
            key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
            restore-keys: |
              ${{ runner.os }}-pods-
              
      - name: Pod install
        if: steps.pods-cache.outputs.cache-hit != 'true'
        run: |
          pod install --repo-update --clean-install
          
      - name: Build
        run: |
          xcodebuild clean build \
          -workspace TARAS.xcworkspace \
          -scheme TARAS-Dev \
          -destination "platform=iOS Simulator,name=iPhone 13,OS=15.2" \

      - run: |
        ls
        mkdir -p artifact
        ls

      - name: Save build result
      - uses: actions/ipload-artifact@v3
        with:
          name: build-artifact
          path: artifact/build-artifact.txt

      - name: Run tests
        run: |
          xcodebuild clean test \
          -workspace TARAS.xcworkspace \
          -scheme TARAS-Dev \
          -destination "platform=iOS Simulator,name=iPhone 13,OS=15.2"
