name: iOS CI

on:
  push:
    branches: [ develop, master, 'release-**' ]
  pull_request:
    branches: [ develop, master, 'release-**' ]

jobs:
  pod-install:
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Pods cache
        uses: actions/cache@v3
        id: pods-cache
        with:
          path: |
            Pods
            Podfile.lock
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
            
      - name: Pod install
        if: steps.pods-cache.outputs.cache-hit != 'true'
        run: |
            pod install --repo-update --clean-install
            
  build-and-test:
    needs: pod-install
    runs-on: macos-latest
    
    env:
      XC_WORKSPACE: TARAS.xcworkspace
      XC_SCHEME: TARAS-Dev
      XC_DESTINATION: platform=iOS Simulator,name=iPhone 13,OS=15.2

    steps:
      - uses: actions/checkout@v3
      
      - name: Make archive
        run: |
          > build-artifact.txt
          > test-artifact.txt
          
      - name: Build
        run: |
          xcodebuild clean build \
          -workspace "$XC_WORKSPACE" \
          -scheme "$XC_SCHEME" \
          -destination "$XC_DESTINATION"
          tee build-artifact.txt
      - name: Archive build artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: build-artifact
          path: build-artifact.txt
          
      - name: Run tests
        run: |
          xcodebuild clean test \
          -workspace "$XC_WORKSPACE" \
          -scheme "$XC_SCHEME" \
          -destination "$XC_DESTINATION"
          tee test-artifact.txt
      - name: Archive test artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-artifact
          path: test-artifact.txt
